




 


 {% extends 'baseback.html.twig' %}
 {% block body %}
<main id="main" class="main">

    <div class="pagetitle">
 
         
           <center> <h3>ajouter </h3></center>

    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">


         <section class="py-12">
         <div class="container px-12 px-lg-12 mt-12">
         <div class="row gx-12 gx-lg-12 row-cols-12 row-cols-md-12 row-cols-xl-12 justify-content-center">
 {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}



        <div class="card">
            <div class="card-body">

              <!-- Vertical Form -->
              <form class="row g-3">
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">nom</label>
                      {{ form_widget(f.nom, {'attr': {'class': 'form-control','type':'text', 'placeholder': 'Enter  nom'}}) }}
                                                                            {{ form_errors(f.nom,{ 'attr':{'class':'text-danger'}}) }}

                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">adresse</label>
                      {{ form_widget(f.adresse, {'attr': {'class': 'form-control','type':'text', 'placeholder': 'Enter  adresse'}}) }}
                                                      {{ form_errors(f.adresse,{ 'attr':{'class':'text-danger'}}) }}

                </div>


      <div class="col-12">
                  <label for="inputAddress" class="form-label">email</label>
                      {{ form_widget(f.email, {'attr': {'class': 'form-control','type':'text', 'placeholder': 'Enter  email'}}) }}
                                                      {{ form_errors(f.email,{ 'attr':{'class':'text-danger'}}) }}

                </div>

      <div class="col-12">
                  <label for="inputAddress" class="form-label">num_tel</label>
                      {{ form_widget(f.numTel, {'attr': {'class': 'form-control','type':'text', 'placeholder': 'Enter  numtel'}}) }}
                                                      {{ form_errors(f.numTel,{ 'attr':{'class':'text-danger'}}) }}

                </div>


                
    
                <div class="text-center">

          {{ form_widget(f) }}

                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>
{{ form_end(f) }}
<a class="btn btn-outline-dark mt-auto" href="{{ path('displaysponsor') }}">back to list</a>
 {% endblock %}