{% extends 'baseback.html.twig' %}

 {% block body %}

            <!-- Quick Action Toolbar Starts-->
          
            <!-- Quick Action Toolbar Ends-->
        
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
        
<div class="table-responsive" >
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">nom</th>
   
      <th scope="col">adresse</th>

        <th scope="col">email</th>
                <th scope="col">num_tel</th>

    </tr>
  </thead>
  <tbody>
    {% for Communaute in b %}
    <tr>
     
    <td> {{ Communaute.id }}</td> 
     <td> {{ Communaute.nom}} </td>  
        <td>{{  Communaute.adresse}} </td> 
         <td>{{  Communaute.email }}</td> 
         
         <td>{{  Communaute.num_tel }}</td> 
             <td> 
          <a href="{{path('modifierSponsor',{'id':Communaute.id}) }}">modifier </a>
               <a href="{{path('deleteSponsor',{'id':Communaute.id}) }}">supprimer </a>
             
              </td> 
    </tr>
  
      {% endfor %}

  </tbody>
</table>
</div>
{% endblock %}
