{% extends 'base.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block body %}
    <h1>Livraison index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdLivraison</th>
                <th>DateDemande</th>
                <th>DateLivraison</th>
                <th>EtatLivraison</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.idLivraison }}</td>
                <td>{{ livraison.dateDemande ? livraison.dateDemande|date('Y-m-d') : '' }}</td>
                <td>{{ livraison.dateLivraison ? livraison.dateLivraison|date('Y-m-d') : '' }}</td>
                <td>{{ livraison.etatLivraison }}</td>
                <td>
                    <a href="{{ path('app_livraison_show', {'idLivraison': livraison.idLivraison}) }}">show</a>
                    <a href="{{ path('app_livraison_edit', {'idLivraison': livraison.idLivraison}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_livraison_new') }}">Create new</a>
{% endblock %}
