{% extends 'base.html.twig' %}

{% block title %}Troc index{% endblock %}

{% block body %}
    <h1>Troc index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdTroc</th>
                <th>Nom1</th>
                <th>Nom2</th>
                <th>Numtel1</th>
                <th>Numtel2</th>
                <th>ShippingAdress1</th>
                <th>ShippingAdress2</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for troc in trocs %}
            <tr>
                <td>{{ troc.idTroc }}</td>
                <td>{{ troc.nom1 }}</td>
                <td>{{ troc.nom2 }}</td>
                <td>{{ troc.numtel1 }}</td>
                <td>{{ troc.numtel2 }}</td>
                <td>{{ troc.shippingAdress1 }}</td>
                <td>{{ troc.shippingAdress2 }}</td>
                <td>{{ troc.description }}</td>
                <td>
                    <button type="button" onclick="window.location.href='{{ path('app_troc_show', {'idTroc': troc.idTroc}) }}'" style="background-color: #3AFF00; color: white; padding: 1px 2px; border: none; cursor: pointer;font-size: 10px;">Afficher</button>
                    <button type="button" onclick="window.location.href='{{ path('app_troc_edit', {'idTroc': troc.idTroc}) }}'" style="background-color: #008CBA; color: white; padding: 1px 2px; border: none; cursor: pointer;font-size: 10px;">Modifier</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                    <button type="button" onclick="window.location.href='{{ path('app_troc_new') }}'" style="background-color: #FF5500; color: white; padding: 10px 20px; border: none; cursor: pointer;">Ajouter</button>
{% endblock %}
