{% extends 'base.html.twig' %}

{% block title %}Troc{% endblock %}

{% block body %}
<br>
<br>
<br>

    <h1>Troc</h1>
    <div>
<div style= "display: flex; align-items: center;justify-content:center; margin-top:50px;padding:10px;">
<br>
    <table class="table">
        <tbody>
            <tr>
                <th>IdTroc</th>
                <td>{{ troc.idTroc }}</td>
            </tr>
            <tr>
                <th>Nom1</th>
                <td>{{ troc.nom1 }}</td>
            </tr>
            <tr>
                <th>Nom2</th>
                <td>{{ troc.nom2 }}</td>
            </tr>
            <tr>
                <th>Numtel1</th>
                <td>{{ troc.numtel1 }}</td>
            </tr>
            <tr>
                <th>Numtel2</th>
                <td>{{ troc.numtel2 }}</td>
            </tr>
            <tr>
                <th>ShippingAdress1</th>
                <td>{{ troc.shippingAdress1 }}</td>
            </tr>
            <tr>
                <th>ShippingAdress2</th>
                <td>{{ troc.shippingAdress2 }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ troc.description }}</td>
            </tr>
        </tbody>
    </table>
</div>
<button type="button" onclick="window.location.href='{{ path('app_troc_index') }}'" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; cursor: pointer;">Retour</button>

<button type="button" onclick="window.location.href='{{ path('app_troc_edit', {'idTroc': troc.idTroc}) }}'" style="background-color: #008CBA; color: white; padding: 10px 20px; border: none; cursor: pointer;">Edit</button>
 <br><br>   
</div>
    {{ include('troc/_delete_form.html.twig') }}
{% endblock %}
