{% extends 'baseback.html.twig' %}

 {% block body %}

            <!-- Quick Action Toolbar Starts-->
          
            <!-- Quick Action Toolbar Ends-->
        
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <main id="main" class="main">

    <div class="pagetitle">
      <h1>Gestion CLUBS</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{path('showrand')}}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
         <a  class="btn btn-outline-dark mt-auto" href="{{path('addpub')}}">Ajouter CLUB</a>
           <center> <h3>les CLUBS </h3></center>

    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">


         <section class="py-12">
         <div class="container px-12 px-lg-12 mt-12">
         <div class="row gx-12 gx-lg-12 row-cols-12 row-cols-md-12 row-cols-xl-12 justify-content-center">
        
<div class="table-responsive" >
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">nom_pub</th>
   
      <th scope="col">description</th>

        <th scope="col">image</th>
    </tr>
  </thead>
  <tbody>
    {% for club in b %}
    <tr>
     
    <td> {{ club.id }}</td> 
     <td> {{ club.nom_pub}} </td>  
        <td>{{  club.description}} </td> 
         <td>    <img src="uploads/{{  club.image }}" height="100" width="100">  </td> 
         
             <td> 
          <a href="{{path('modifierpublicite',{'id':club.id}) }}">modifier </a>
               <a href="{{path('deletePublicite',{'id':club.id}) }}">supprimer </a>
             
              </td> 
    </tr>
  
      {% endfor %}

  </tbody>
</table>
</div>

</body>
{% endblock %}