


 {% extends 'baseback.html.twig' %}
 {% block body %}
        <h1 style="text-align: center;"> modifier Club </h1> 
         <main id="main" class="main">

    <div class="pagetitle">
 
         
           <center> <h3>Modifier Club </h3></center>

    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">


         <section class="py-12">
         <div class="container px-12 px-lg-12 mt-12">
         <div class="row gx-12 gx-lg-12 row-cols-12 row-cols-md-12 row-cols-xl-12 justify-content-center">

 {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}



        <div class="card">
            <div class="card-body">

              <!-- Vertical Form -->
              <form class="row g-3">
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Nom Club</label>
                      {{ form_widget(f.nomPub, {'attr': {'class': 'form-control','type':'text', 'placeholder': 'Enter  nomPub'}}) }}
                                                                            {{ form_errors(f.nomPub,{ 'attr':{'class':'text-danger'}}) }}

                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Description</label>
                      {{ form_widget(f.description, {'attr': {'class': 'form-control','type':'text', 'placeholder': 'Enter  description'}}) }}
                                                      {{ form_errors(f.description,{ 'attr':{'class':'text-danger'}}) }}

                </div>




                


               <div class="col-12">
                  <label for="inputAddress" class="form-label">Id_Communaute</label>
                      {{ form_widget(f.idCommunaute) }}
                </div>
    
                <div class="text-center">

          {{ form_widget(f) }}

                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>
{{ form_end(f) }}
<a class="btn btn-outline-dark mt-auto" href="{{ path('displaypub') }}">back to list</a>
 {% endblock %}