
{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie.description }}</td>
            </tr>
        </tbody>
    </table>
    <br>
   <a href="{{ path('app_categorie_edit', {'nom': categorie.nom}) }}"> Modifier </a>
    <br><br>
    <a href="{{ path('app_categorie_index') }}">Les Categories</a>

    
    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
