{{ form_start(form) }}

    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Ajouter Offre') }}</button>
    <br><br>
    <div class="d-flex">
          <a class="btn btn-outline-dark mt-auto"  href="{{ path('app_offre_index') }}">Les offres</a>
          </div>
{{ form_end(form) }}
