{% extends 'base.html.twig' %}

{% block title %}Les offres{% endblock %}
{% block link %}<link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.png') }}" > {% endblock %}
{% block body %}

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <div class="col-md-6"><img style="width:200px!important;" src="{{ asset('img/logo.png') }}" alt="Trocit Logo" /></div>
            <div class="container px-4 px-lg-5">
               <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('app_offre_new') }}">Ajouter un nouveau offre</a></div>
            </div>
        </nav>
      <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Les offres</h1>
                </div>
            </div>
        </header><br>
         <section class="py-5">
         <div class="container px-4 px-lg-5 mt-5">

<p style="color:black;font-size:25px;">Notre categorie populaire : <!--{mostViewedCategory.nom}--></p><br><br>
         <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      
        
            {% for offre in offres %}
        
        <div class="col mb-5">
        
                        <div class="card h-100">
                            <center>
                            <img class="card-img-top" src="{{ asset('uploads/' ~ offre.imageFilename) }}" alt="{{ offre.titre }} image" />
                            </center>
                            <div class="card-body p-4">
                                <div class="text-center">
                                    
                                    <h4 class="fw-bolder">{{ offre.titre }}</h4>
                                   <h6 style="color:#ac0000"> Type :  {{ offre.type }}</h6>
                                   
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('app_offre_show', {'id': offre.id}) }}">Afficher Details</a></div>
                            </div>
                        </div>
                    </div>
      
        {% endfor %}

    </div>
    </div>
 </section>
  <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Trocit 2023</p></div>
        </footer>
        <script src="js/scripts.js"></script>
        </footer>
{% endblock %}
