{% extends 'front.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}
   <h1>Club index</h1>
<a href="{{ path('app_clubcont_new') }}" class="btn btn-primary mt-4">Create new </a>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for club in clubs %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ club.ManagerName }}</h5>
                                <!-- Product price-->
                                {{ club.ClubName }} 
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="{{ path('app_clubcont_show', {'id': club.id}) }}">
                                    Show</a>
                                <a class="btn btn-outline-dark mt-auto" href="{{ path('app_clubcont_show', {'id': club.id}) }}">
                                    Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}


