{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Creer un compte</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                 {{ form_start(form) }}
                    
                    
                    <div class="col-12">
                      <label for="yourName" class="form-label">Prenom</label>
                         {{ form_widget(form.Prenom,{'attr':{'class':'form-control'}}) }}
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    
                    <div class="col-12">
                      <label for="yourName" class="form-label">Nom</label>
                         {{ form_widget(form.Nom,{'attr':{'class':'form-control'}}) }}
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourName" class="form-label">Numero</label>
                         {{ form_widget(form.Numero,{'attr':{'class':'form-control'}}) }}
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>


                    <div class="col-12">
                      <label for="yourName" class="form-label">Email</label>
                         {{ form_widget(form.Email,{'attr':{'class':'form-control'}}) }}
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourName" class="form-label">Adresse</label>
                         {{ form_widget(form.Adresse,{'attr':{'class':'form-control'}}) }}
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>


                    <div class="col-12">
                      <label for="yourName" class="form-label">Password</label>
                         {{ form_widget(form.Password,{'attr':{'class':'form-control'}}) }}
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>


                    <div class="col-12">
                      <label for="yourName" class="form-label">Genre</label>
                         {{ form_widget(form.Genre) }}<br>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>


                    <div class="col-12">
                      <label for="yourName" class="form-label">Role</label>
                         {{ form_widget(form.Role) }}<br>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="pages-login.html">Log in</a></p>
                    </div>
                   {{ form_end(form) }}

                </div>
              </div>

             

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
{% endblock %}
